# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Matches multiple file types
[*.{java,xml,py,json}]
indent_style = tab
indent_size = 4
tab_width = 4

# Matches Python and XML files
[{*.py,*.xml}]
indent_style = tab
indent_size = 4

# Matches JSON files
[*.json]
indent_style = space
indent_size = 4

# Java files
[*.java]
indent_style = tab
indent_size = 4
